html{
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sideBar-typo{
  color: RGBA(182,187,196,0.7);
}
.active{
  border-right: 0.5rem inset #fff !important;
}
.active div h6 {
  color: #FFFBF5 !important;
}
.active div svg * {
  fill: #FFFBF5 !important;
}
.swiper {
  width: 100%;
  height: 30%;
  border-radius: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
input::file-selector-button {
  display: none;
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}
#fileAudio{
  display: none;
}
#fileImage{
  display: none;
}