body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.sideBar-typo{
  color: RGBA(182,187,196,0.7);
}
.active{
  border-right: 0.5rem inset #fff !important;
}
.active div h6 {
  color: #FFFBF5 !important;
}
.active div svg * {
  fill: #FFFBF5 !important;
}